body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1, h2, h3 {
  text-align: center;
}

.WeatherContainer{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-card {
  width: 40vw;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-card h3 {
  margin: 0;
}

button{
  position: absolute;
  margin-left: 1200px;
  border-radius: 10px;
  padding: 5px;
  color: #ddd;
  background-color: rgb(5, 48, 216);
  cursor: pointer;
}

input{
  position: absolute;
  margin-left: 100px;
  border-radius: 10px;
}

form{
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-div{
  position: absolute;
  margin-left: 250px;
  border-radius: 10px;
  padding: 5px;
  color: #ddd;
  background-color: rgb(5, 48, 216);
  cursor: pointer;
}

.summaryContainer{
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.summaryCard{
  width: 40vw;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert{
  color: red;
}